<section id="viewPosts">
    <h1>Posts</h1>
    <div id="posts">
        <table>
            <tr>
                <th>Title</th>

                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Book title</td>

                <td>Book description</td>
                <td>
                    <a href="#">[Delete]</a>
                    <a href="#">[Edit]</a>
                </td>
            </tr>
        </table>
    </div>
</section>
